/* CONTENTS
   1) Resets
   2) Colors
   3) Fonts
   ================================== */

/*====================================*/
/*============= RESET CSS ============*/
/*====================================*/

body {
  color: var(--dark-green);
  overflow-x: hidden;
}

body,
h1,
h2,
p,
ul,
ol {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

button {
  background: none;
  outline: none;
  padding: 0;
  text-transform: inherit;
}

button:hover {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Colors
   ==========================================================
   light beige = FFF8EE    dark green  = 475133
   mid beige   = EFE9DE    dusty pink  = DAB29E
   dark beige  = DFD3C3    ----------  = XxxXxX
   ========================================================== */
/* Variablar för olika färger, font storleker  */
:root {
  --light-beige: #fff8ee;
  --light-beige-opacity: rgba(255, 248, 238, 0.75);
  --mid-beige: #efe9de;
  --dark-beige: #dfd3c3;
  --dark-green: #475133;
  --dusty-pink: #dab29e;
  --bread-size: 16px;
  --mobile-size: 375px;
  --desktop-size: 128rem;
}

/*====================================*/
/*=============== FONTS ==============*/
/*====================================*/
@font-face {
  font-family: "Avenir Next Cyr Regular";
  src: url("./assets/font/avenir-next/AvenirNextCyr-Regular.eot");
  src: local("Avenir Next Cyr Regular"), local("AvenirNextCyr-Regular"),
    url("./assets/font/avenir-next/AvenirNextCyr-Regular.eot?#iefix") format("embedded-opentype"),
    url("./assets/font/avenir-next/AvenirNextCyr-Regular.woff2") format("woff2"),
    url("./assets/font/avenir-next/AvenirNextCyr-Regular.woff") format("woff"),
    url("./assets/font/avenir-next/AvenirNextCyr-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Anevir Next Cyr Medium";
  src: url("./assets/font/avenir-next/AvenirNextCyr-Medium.ttf") format("opentype");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "Anevir Next DemiBold";
  src: url("./assets/font/avenir-next/AvenirNextCyr-Demi.ttf") format("opentype");
  font-weight: medium;
  font-style: normal;
}



body {
  margin: 0;
  font-family: "Avenir Next Cyr Regular";
  background-color: var(--mid-beige);
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  max-width: var(--desktop-size);
  width: 100%;
}

.bread-crumb-meny {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  gap: 0.2rem
}

.bread-crumb-meny li .active {
  font-weight: bolder;
}

.bread-crumb-meny li a:hover {
  text-decoration: underline;
}

.title-bold {
  font-weight: bolder;
}

.product_list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.product_list li {
  max-width: 10.4375rem;
  border-radius: 19px;
}

.product_list li:hover {
  box-shadow: 1px 0px 15px 0px rgba(0, 0, 0, 0.85);
  transition: 0.6s;
}

.product_list li:focus {
  box-shadow: 1px 0px 15px 0px rgba(0, 0, 0, 0.85);
  transition: 0.6s;
}

.specific_product {
  display: flex;
  flex-direction: column;
  border-radius: 19px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #dfd3c3;
}

.specific_product .price {
  display: flex;
  padding-left: 0.45rem;
  padding-bottom: 1rem;
}

.button_container {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 0.4rem;
}

.button_cart {
  clear: both;
  margin-right: 0.2rem;
  background-color: #fff8ee;
  border: 0;
  text-align: center;
  border-radius: 19px;
  padding: 0.6rem;
  padding: 5px 10px;
}

.button_more_products {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  font-size: 20px;
  border: 0;
  text-align: center;
  border-radius: 50px;
  padding: 0.3rem 0.8rem;
  padding-left: 1rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: var(--dusty-pink);
}

.button_more_products i {
  font-size: 30px;
  padding-left: 15px;
}

.h3_and_heart {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem;
}

@keyframes loading-spinner {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.loading-spinner div {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 10px solid #dfd3c3;
  border-top-color: transparent;
  border-radius: 50%;
}

.loading-spinner div {
  animation: loading-spinner 1s linear infinite;
  top: 100px;
  left: 100px;
}

.loading-spinner-container {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}

.loading-spinner {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */
}

.loading-spinner div {
  box-sizing: content-box;
}

/* generated by https://loading.io/ */

/* RESPONSIVE STUFF
   ==========================================================
   Small:   320 - 767   ( centered at 320  )
   Medium:  768 - 959   ( columns at 768  )
   Large:   960 - 1279  ( columns at 960  )
   X-Large: 1280+       ( columns at 1280 )
   ========================================================== */
