/* Variablar för olika färger, font storleker  */
:root {
  --middle-beige: #EFE9DE;
  --dark-beige: #DFD3C3;
  --dark-green: #475133;
  --dusty-pink: #DAB29E;
  --bread-size: 16px;
  --mobile-size: 375px;
  --desktop-size: 980px;
}

@font-face {
  font-family: 'Avenir Next Cyr Regular';
  src: url('./assets/font/avenir-next/AvenirNextCyr-Regular.eot');
  src: local('Avenir Next Cyr Regular'), local('AvenirNextCyr-Regular'),
    url('./assets/font/avenir-next/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),
    url('./assets/font/avenir-next/AvenirNextCyr-Regular.woff2') format('woff2'),
    url('./assets/font/avenir-next/AvenirNextCyr-Regular.woff') format('woff'),
    url('./assets/font/avenir-next/AvenirNextCyr-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Avenir Next Cyr Regular';
  background-color: var(--middle-beige);
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  display: flex;
  padding: 1rem;
  justify-content: center;
  flex-grow: 1;
}

.title-bold {
  font-weight: bolder;
}
