/* Variablar för olika färger, font storleker  */
:root {
  --middle-beige: #EFE9DE;
  --dark-beige: #DFD3C3;
  --dark-green: #475133;
  --dusty-pink: #DAB29E;
  --bread-size: 16px;
  --mobile-size: 375px;
  --desktop-size: 980px;
}

body {
  margin: 0;
  background-color: var(--middle-beige);
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  display: flex;
  flex-grow: 1;
}
